<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport"
            content="width=device-width, initial-scale=1">
            <title>
                Dev.cartes!에 오신 것을 환영합니다!
            </title>
            <link rel="stylesheet" href="/network.css">
        </head>
        <body>
            <header>
                <a class="logo"> Dev.cartes! </a>
                <div>
                    <ul>
                        <li class="login"> <a> 로그인 </a></li>
                        <li class="mypage" style="display: none"> <a> 내 정보 </a></li>
                    </ul>
                </div>
            </header>
            <div id="userContent"> </div>
            <div class="modal">
                <div class="title">
                    로그인 창으로 이동합니다.
                </div>
                <a href="#" class="close"> 닫기 </a>
            </div>
            <footer>
            </footer>
            <script src="/network.js"></script>
        </body>
    </html>