<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport"
            content="width=device-width, initial-scale=1">
            <title>
                Dev.cartes!에 오신 것을 환영합니다!
            </title>
            <link rel="stylesheet" href="/network.css">
        </head>
        <body>
            <header>
                <a href="/" class="logo"> Dev.cartes! </a>
                <div>
                    <ul>
                        <li> 안녕! </li>
                    </ul>
                </div>
            </header>
            <div id="userContent"> </div>
            <footer>
            </footer>
        </body>
    </html>