* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeae0;
  display: grid;
  grid-template-columns: 400px 1fr; /* 1:2 비율로 나누기 */
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #eeeae0;
}

header {
  display: grid;
  position: fixed;
  width: 400px;
  grid-column: 1;
  gap: 20px;
  text-align: left;
  vertical-align: middle;
}

header .logo {
  color: black;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 200px 0 0 80px;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

header ul {
  list-style-type: none;
}

header ul li {
  position: relative;
  justify-content: center;
}

header ul li a {
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  margin: 50px 30px 0 85px;
  padding: 20px 33px;
  border: 4px solid rgb(173, 173, 173);
  font-size: 18px;
  cursor: pointer;
  font-family: "continuous";
  font-weight: solid;
  border-radius: 20px;
}

.login {
  margin-top: 50px;
}

#userContent {
  display: grid;
  grid-column: 2;
  position: relative;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  justify-content: center;
}

#userContent img {
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 300px;
  transition: filter 0.3s ease;
  border: 2px solid rgb(78, 77, 77);
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

#userContent img:hover {
  filter: blur(5px);
}

#userContent div {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 150px;
}

.userText {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px;
  border: 3px solid rgb(117, 92, 36);
  color: rgb(88, 75, 35);
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

#prevButton {
  position: fixed;
  bottom: 20px; /* 화면 하단으로부터의 거리 조절 */
  left: 700px;
  justify-self: start;
  align-items: center;
  color: rgb(88, 75, 35);
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 100px;
  font-family: "continuous";
  background-color: white;
  border: 2px solid rgb(173, 173, 173);
  cursor: pointer;
}

#nextButton {
  color: black;
  position: fixed;
  bottom: 20px; /* 화면 하단으로부터의 거리 조절 */
  right: 550px;
  justify-self: end;
  align-items: center;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 100px;
  font-family: "continuous";
  background-color: white;
  border: 2px solid rgb(173, 173, 173);
  cursor: pointer;
}
