@font-face {
  font-family: "continuous";
  src: url("./continuous.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 400px 1fr; /* 1:2 비율로 나누기 */
}

header {
  display: grid;
  position: fixed;
  width: 400px;
  grid-column: 1;
  gap: 20px;
  text-align: left;
  vertical-align: middle;
  z-index: 1;
}

header .logo {
  color: black;
  font-family: "continuous";
  margin: 200px 0 0 80px;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

header ul {
  list-style-type: none;
}

header ul li {
  position: relative;
  justify-content: center;
}

header ul li a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 20px 33px;
  margin-left: 50px;
  font-size: 25px;
  cursor: pointer;
  font-family: "continuous";
  font-weight: solid;
  border-radius: 20px;
}

.login {
  margin-top: 50px;
}

.usercard-container {
  display: grid;
  position: relative;
  grid-column: 2;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 20px;
}

.usercard {
  background-color: transparent;
  gap: 20px;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  color: black;
  margin-top: 20px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  font-family: "Pretendard-Regular";
}

.content {
  color: black;
  font-family: "Pretendard-Regular";
  padding: 15px;
}

.userImage {
  border-radius: 1rem;
  padding: 10px;
}

.usercard-Inner {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  color: black;
}

.usercard-Front,
.usercard-Back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  border: 2px solid rgb(0, 0, 0);
}

.usercard-Front {
  background: linear-gradient(
    130deg,
    #fff3d5 60%,
    rgb(255, 240, 224) 88%,
    rgb(166, 165, 164) 40%,
    rgba(226, 195, 136, 0.708) 48%
  );
  color: black;
  font-size: 10px;
}

.usercard-Back {
  background: linear-gradient(
    130deg,
    rgba(255, 221, 152, 0.708) 30%,
    white 88%,
    bisque 40%,
    rgb(255, 255, 255) 78%
  );
  transform: rotateY(180deg);
}

.usercard-Inner:hover {
  transform: rotateY(180deg);
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

#prevButton {
  position: fixed;
  bottom: 20px; /* 화면 하단으로부터의 거리 조절 */
  left: 700px;
  justify-self: start;
  align-items: center;
  color: black;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 100px;
  font-family: "continuous";
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

#nextButton {
  color: black;
  position: fixed;
  bottom: 20px;
  right: 550px;
  justify-self: end;
  align-items: center;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 100px;
  font-family: "continuous";
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.page-btn-container {
  position: fixed;
  bottom: 10px;
  right: 450px;
  margin: 30px 0;
}

.page-btn {
  font-family: "Pretendard-Regular";
  padding: 16px 32px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  background-color: white;

  &:hover {
    animation: jelly 0.5s;
  }
}

.btn-left {
  font-family: "Pretendard-Regular";
  margin-right: 15px;
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1);
  }
}
