* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: grid;
  grid-template-columns: 400px 1fr; /* 1:2 비율로 나누기 */
}

@font-face {
  font-family: "continuous";
  src: url("./continuous.ttf") format("truetype");
}

header {
  display: grid;
  position: fixed;
  width: 400px;
  grid-column: 1;
  gap: 20px;
  text-align: left;
  vertical-align: middle;
}

header .logo {
  color: rgb(88, 75, 35);
  font-family: "continuous";
  margin: 200px 0 0 80px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

header ul {
  list-style-type: none;
}

header ul li {
  position: relative;
  justify-content: center;
}

header ul li a {
  display: flex;
  align-items: center;
  color: rgb(88, 75, 35);
  background-color: white;
  text-decoration: none;
  display: inline-block;
  margin: 50px 30px 0 80px;
  padding: 20px 33px;
  border: 5px solid rgb(186, 175, 145);
  font-size: 18px;
  cursor: pointer;
  font-family: "continuous";
  font-weight: bold;
  border-radius: 100px;
}

.login {
  margin-top: 50px;
}

#userContent {
  display: grid;
  grid-column: 2;
  position: relative;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  justify-content: center;
}

#userContent img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 300px;
  transition: filter 0.3s ease;
  border: 7px solid rgb(186, 175, 145);
  cursor: pointer;
}

#userContent img:hover {
  filter: blur(5px);
}

#userContent div {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 150px;
}

.userText {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #eeeae0;
  padding: 5px;
  border: 3px solid rgb(117, 92, 36);
  color: rgb(88, 75, 35);
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

#prevButton {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  align-items: center;
  color: rgb(88, 75, 35);
  padding: 5px 30px;
  font-weight: 600;
  font-size: 25px;
  border-radius: 100px;
  font-family: "continuous";
  background-color: white;
  border-color: rgb(186, 175, 145);
  margin-left: 350px;
  margin-top: 10px;
  cursor: pointer;
}

#nextButton {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-items: center;
  color: rgb(88, 75, 35);
  padding: 5px 30px;
  font-weight: 600;
  font-size: 25px;
  border-radius: 100px;
  font-family: "continuous";
  background-color: white;
  border-color: rgb(186, 175, 145);
  margin-right: 550px;
  margin-top: 10px;
  cursor: pointer;
}
