<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="./userpage.css" />
  </head>
  <body>
    <!-- 상단 네비게이션 바 -->
    <div class="navbar">
      <p class="logo">Devcartes</p>
    </div>
    <div class="container">
      <div class="profile">
        <!-- 프로필 정보 -->
        <img
          src="./studyhard.jpeg"
          alt="프로필 이미지"
          style="width: 150px; height: 150px"
        />
        <div class="nameContainer">
          <h3 class="Name">데브카르트</h3>
        </div>
        <div class="emailContainer">
          <h4 class="Email">Email@email.com</h4>
        </div>
        <div class="descriptionContainer">
          <p class="Description">---설명---</p>
        </div>
        <button class="profileEditButton" onclick="editProfile()">Edit</button>
      </div>
      <div class="education">
        <!-- 학력 정보 -->
        <h2>학력</h2>
        <div class="education-list" id="educationList" style="display: none">
          <!-- <div>
            <select>
              <option value="">학력 구분 선택</option>
              <option value="elementry">초등학교 졸업</option>
              <option value="middle">중학교 졸업</option>
              <option value="high">고등학교 졸업</option>
              <option value="colleage">대학교,대학원 졸업</option>
            </select>
            <select>
              <option value="">학위 선택</option>
              <option value="재학중">대학(2,3년)</option>
              <option value="학사졸업">대학(4년)</option>
              <option value="석사졸업">대학원(석사)</option>
              <option value="박사졸업">대학원(박사)</option>
            </select>
            <input type="text" placeholder="대학교" />
          </div>
          <div>
            <input type="text" placeholder="전공" />
            <select>
              <option value="">졸업여부</option>
              <option value="bachelor">졸업</option>
              <option value="master">재학중</option>
              <option value="master">휴학중</option>
              <option value="phd">수료</option>
              <option value="phd">중퇴</option>
              <option value="phd">자퇴</option>
              <option value="phd">졸업예정</option>
            </select>
            <input type="date" placeholder="입학 년월" />
            <input type="date" placeholder="졸업 년월" />
          </div> -->
        </div>
        <div id="buttons-container">
          <button
            id="delete-button"
            onclick="removeEducation()"
            style="display: none"
          >
            삭제
          </button>
          <button
            id="confirm-button"
            onclick="confirmEducation()"
            style="display: none"
          >
            확인
          </button>
          <button
            id="edit-button"
            onclick="editEducation()"
            style="display: none"
          >
            edit
          </button>
          <button id="plus-button" onclick="addEducation()">+</button>
        </div>
      </div>
      <div class="awards">
        <!-- 학력 정보 -->
        <h2>수상 내역</h2>
        <div class="awards-list" id="awardsList" style="display: none">
          <div></div>
        </div>
        <div id="buttons-container">
          <button
            id="awards_delete_button"
            onclick="removeAwards()"
            style="display: none"
          >
            삭제
          </button>
          <button
            id="awards_confirm_button"
            onclick="confirmAwards()"
            style="display: none"
          >
            확인
          </button>
          <button
            id="awards_edit_button"
            onclick="editAwards()"
            style="display: none"
          >
            edit
          </button>
          <button id="awards_plus_button" onclick="addAwards()">+</button>
        </div>
      </div>
    </div>
    <script src="./userpage.js"></script>
  </body>
</html>
