.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card,
.register-card {
  padding: 10px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30rem;
  height: 25rem;
  border-radius: 7px;
  background-color: #fbeeee;
  box-shadow: 0 4px 20px #8c8c8c89;
}

.register-card {
  height: 36rem;
}

.login-card-body h5,
.register-card-body h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ff708ae6;
  margin-bottom: 30px;
}

.login-card-body p,
.register-card-body p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #6b6b6b;
  font-weight: 500;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input {
  width: 70%;
  border: solid 1.5px #000000bd;
  border-radius: 5px;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #000000cc;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  position: absolute;
  left: 70px;
  color: #000000bd;
  font-weight: 500;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus ~ .label,
.input:valid ~ .label {
  transform: translateX(-10px) translateY(-50%) scale(0.8);
  background-color: #fbeeee;
  padding: 0.2em;
  color: #000000bd;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

a {
  color: #219ebc;
}

.login-options .rememberme {
  width: 1rem;
  height: 1rem;
  vertical-align: top;
  accent-color: #007bff;
}

.form button {
  width: 90%;
  padding: 1.2rem 3rem;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #ff708ae6;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


.btnbox button {
  justify-content: space-between;
  width: 40%;
  padding: 1rem 2rem;
  font-size: 16px;
  margin-right: 30px;
  margin-top: 30px;
}

.form button:hover {
  background-color: #ff708ae6;
  box-shadow: 0px 15px 20px #ff708a4e;
  color: #fff;
  transform: translateY(-7px);
}

.form button:active {
  transform: translateY(-1px);
}

/* 팝업모달 */
#modaltext {
  text-align: center;
}
.modal_btn {
  display: block;
  margin: 40px auto;
  /* padding: 10px 20px; */
  /* border: none;
  border-radius: 5px; */
  color: black;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.modal_btn:hover {
  background-color: #edfce3;
  box-shadow: 3px 4px 11px 0px #00000040;
}

.modal {
  /*팝업 배경*/
  min-width: 200px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal_popup {
  /*팝업*/
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}
.modal .modal_popup .close_btn {
  display: block;
  padding: 10px 20px;
  background-color: rgb(116, 0, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
