<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>

    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/layout/header.css" />
    <link rel="stylesheet" href="/login/login.css" />
    <link rel="icon" href="../img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
    <!-- ====================공통 헤더 영역==================== -->
    <div class="header">
      <div class="logo">
        <a href="/">
          <img class="logo-image" src="/img/logo.png" alt="logo" />
        </a>
      </div>
      <div class="menu">
        <div class="menu-items home" id="home">
          <a href="/">홈</a>
        </div>
        <div class="menu-items board" id="board">
          <a>게시판</a>
        </div>
        <div class="menu-items aboutUs" id="aboutUs">
          <a href="/aboutUs">About Us</a>
        </div>
      </div>
      <div class="user-status">
        <div class="user-status-item-left userpage" id="userpage">
          <a>내 정보</a>
        </div>
        <div class="user-status-item logout" id="logout">
          <a>로그아웃</a>
        </div>
        <div class="user-status-item-left login" id="login">
          <a>로그인</a>
        </div>
      </div>
    </div>
    <!-- ========================================================= -->
      <!-- <div class="texts">
        <span
          >안녕하세요! <a id="logo">Dev.cartes! </a>포트폴리오
          공유사이트입니다.</span
        >
      </div>
      <div class="gotoNetworkpage"></div> -->

      <!-- ====================로그인==================== -->
      <div class="login-container">
        <div class="login-card">
          <div class="login-card-body">
            <div class="login-card-title">
              <h5> 로그인을 해주세요. </h5>
              <p> 이메일과 비밀번호를 입력하세요. </p>
            </div>

            <form class="form">
              <div class="input-group">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="input"
                  required
                />
                <label class="label" for="email"> Email </label>
              </div>

              <div class="input-group">
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="input"
                  required
                />
                <label class="label" for="password"> Password </label>
              </div>

              <div class="login-options"> 
                  <div>
                      <input type="checkbox" name="rememberme" id="rememberme" class="rememberme">
                      <label for="rememberme"> 로그인 상태 유지 </label>
                  </div>

                  <div>
                      <a href="#" class="forgot_password">비밀번호를 잊으셨나요?</a>
                  </div>
                </div>

              <button type="submit" id="login-submit">로그인</button>
            </form>
            <div>
              <p> 계정이 없으신가요? <a href="#" id="go_to_register"> 회원가입 </a></p>
            </div>
          </div>
        </div>
      </div>

      <!-- ====================회원가입==================== -->
      <div class="register-container"  style="display: none;">
        <div class="register-card">
          <div class="register-card-body">
            <div class="register-card-title">
              <h5> 회원가입을 해주세요. </h5>
            </div>

            <form class="form">
              <div class="input-group">
                <input
                  type="email"
                  name="set-email"
                  id="set-email"
                  class="input"
                  placeholder="example@example.com/net"
                  required
                />
                <label class="label" for="email"> Email </label>
              </div>

              <div class="input-group">
                <input
                  type="text"
                  name="set-name"
                  id="set-name"
                  class="input"
                  placeholder="이름을 입력해주세요 (2~30 글자)"
                  required
                />
                <label class="label" for="name"> Name </label>
              </div>

              <div class="input-group">
                <input
                  type="text"
                  name="set-nickname"
                  id="set-nickname"
                  class="input"
                  placeholder="사용하실 닉네임을 입력해주세요 (2~30 글자)"
                  required
                />
                <label class="label" for="nickname"> Nickname </label>
              </div>

              <div class="input-group">
                <input
                  type="text"
                  name="set-pwd"
                  id="set-pwd"
                  class="input"
                  placeholder="사용하실 비밀번호를 입력해주세요. (최소 4글자)"
                  required
                />
                <label class="label" for="password"> Password </label>
              </div>

              <div class="input-group">
                <input
                  type="text"
                  name="set-pwd-chk"
                  id="set-pwd-chk"
                  class="input"
                  placeholder="사용하실 비밀번호를 입력해주세요. (최소 4글자)"
                  required
                />
                <label class="label" for="password"> Confirm password </label>
              </div>

            <div class="btnbox">
              <button class="submit" id="out_to_register"> 취소 </button> 
              <button class="submit"  id="register-submit"> 회원가입</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ====================팝업 모달창==================== -->
    <div class="modal" id="modal" display="none">
      <div class="modal_popup">
        <p id="modaltext"></p>
        <button type="button" class="btn modal_btn" onclick="modalClose()">
          확인
        </button>
      </div>
    </div>

    <script src="/layout/header.js"></script>
    <script src="/login/login.js"></script>
  </body>
</html>


   
