.texts {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#logo {
  color: #ff708ae6;
  font-weight: 700;
}

.maincontainer {
  margin-top: 50px;
  height: 100vh;
}

.LoginContainer,
.createAccountContainer {
  position: relative;
  display: block;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px #ff708ae6;
  border-radius: 10px;
}

.LoginContainer {
  height: 450px;
}

.createAccountContainer {
  height: 600px;
}

.login-title {
  display: block;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 100px;
  color: #1a202c;
}

.register-title {
  margin-bottom: 50px;
  display: block;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #1a202c;
}

.label {
  display: block;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.LoginAccount,
.LoginPw {
  text-align: center;
}

.InputBox {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.InputBox:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.InputBox:valid {
  border: 1px solid rgb(184, 184, 184);
}

.InputBox:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #ff708ae6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}

.btnbox {
  display: block;
  text-align: center;
}

/* 팝업모달 */
h2 {
  text-align: center;
}
.modal_btn {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.modal_btn:hover {
  box-shadow: 3px 4px 11px 0px #00000040;
}

.modal {
  /*팝업 배경*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal_popup {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}
.modal .modal_popup .close_btn {
  display: block;
  padding: 10px 20px;
  background-color: rgb(116, 0, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
