<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dev.cartes!에 오신 것을 환영합니다!</title>
    <link rel="stylesheet" href="/network/network.css" />
  </head>
  <body>
    <header>
      <a class="logo"> Dev.cartes! </a>
      <div>
        <ul>
          <li class="login"><a> Log in </a></li>
          <li class="userpage"><a> Home </a></li>
          <li class="board"><a> Board </a></li>
          <li class="logout"><a> LogOut </a></li>
        </ul>
      </div>
    </header>
    <div class="usercard-container">
      <div class="usercard">
        <!-- <div class="usercard-Inner">
            <div class="usercard-Front">
              <img class="userImage">
              <p class="title"> </p>
            </div>
            <div class="usercard-Back">
              <p class="content"> </p>
            </div>
          </div> -->
      </div>
    </div>
    <div class="modal">
      <div class="title">로그인 창으로 이동합니다.</div>
      <a href="#" class="close"> 닫기 </a>
    </div>
    <div class="page-btn-container">
      <button class="page-btn btn-left" type="button">이전 페이지</button>
      <button class="page-btn btn-right" type="button">다음 페이지</button>
    </div>
    <footer></footer>
    <script src="network/network.js"></script>
    <!-- type="module"  -->
  </body>
</html>
