.contents {
    padding: 100px 85px;
}

.usercard-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usercard-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.usercard {
    overflow: hidden;
}

.usercard-Front {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userImage {
        width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    object-fit: cover;
    }

    p {
        font-weight: bold;
    }
}