@font-face {
  font-family: "continuous";
  src: url("../continuous.ttf") format("truetype");
}

.content-container {
  display: flex;
  background-color: #eeeae0;
  margin: -1%;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 30px 0 35% 0;
  /* background-color: rgba(216, 107, 4, 0.692); */
  background-color: #eeeae0;
}

.navbar-content {
  font-family: "continuous", Arial, sans-serif;
  font-size: 24px;
  padding: 2.5% 0 2.5% 0;
  margin: 0 10% 0 10%;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.navbar-content:nth-last-child(1) {
  box-shadow: none;
}
.logo {
  font-family: "continuous", Arial, sans-serif;
  font-size: 52px;
  padding: 0 0 30% 10%;
}
._h4 {
  margin-block-end: 0.1em;
  margin-block-start: 0.1em;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column; /* 항목들을 수직으로 쌓습니다 */
  width: 100%;
  background-color: white;
}

.profile,
.education,
.award,
.project,
.certificate,
.skill {
  flex: 1 1 50%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container {
  border-left: 5px solid #ccc;
  padding-left: 10px;
  margin-bottom: 10px;
}

.education-list {
  display: flex;
  flex-direction: column; /* 항목들을 수직으로 쌓습니다 */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.award-list,
.project-list,
.certificate-list,
.skill-list {
  display: flex;
  flex-direction: column; /* 항목들을 수직으로 쌓습니다 */
  width: 100%;
  margin: 0;
  padding: 0;
}

.education-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center; /*중앙 정렬*/
  margin-bottom: 10px; /*하단 여백 */
}

.award-list > div {
  display: flex;
  margin-bottom: 10px; /* 하단 여백 */
}

.project-list > div {
  display: flex;
  margin-bottom: 10px; /* 하단 여백 */
}

.certificate-list > div {
  display: flex;
  margin-bottom: 10px; /* 하단 여백 */
}

.skill-list > div {
  display: flex;
  margin-bottom: 10px; /* 하단 여백 */
}
/* select 박스와 input 필드의 스타일 */
.education-list select,
.education-list input {
  flex-grow: 1; /* 필요에 따라 컨테이너 크기에 맞게 요소를 확장 */
  margin-right: 10px; /* 우측 마진 */
  margin-bottom: 10px;
}

.education-list input:last-child,
.education-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.award-list input:last-child,
.award-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.project-list input:last-child,
.project-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.certificate-list input:last-child,
.certificate-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.skill-list input:last-child,
.skill-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.profile-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

input,
select,
button {
  height: 40px; /* 모든 입력 필드와 버튼의 높이 */
  padding: 0 10px; /* 좌우 패딩 */
  box-sizing: border-box; /* border와 padding을 너비에 포함 */
  margin-right: 10px;
}
input {
  border: none;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
}
.profile-edit-button {
  margin-right: 10px;
  background-color: #ffee83;
  color: #000000;
  border-width: 1px;
  border-radius: 5%;
  cursor: pointer;
}

#cancel_edit_button,
#education_delete_button,
#awards_delete_button,
#project_delete_button,
#certificate_delete_button {
  margin-right: 10px;
  background-color: #d67d86;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

#submit_edit_button,
#education-confirm-button,
#award-confirm-button,
#project-confirm-button,
#certificate-confirm-button,
#skill-confirm-button {
  margin-right: 10px;
  background-color: #6d78d4;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.editBtns {
  display: flex;
  justify-content: start; /* 버튼을 컨테이너 시작 부분에 정렬 */
}

.editBtns button {
  margin-right: 10px;
  margin-bottom: 10px; /* 오른쪽 여백 추가 */
}

.education-title h2,
.award-title h2,
.project-title h2,
.certificate-title h2,
.skill-title h2 {
  display: flex;
  justify-content: space-between; /*내용을 양쪽 끝으로 밀어냄 */
  align-items: center;
  width: 100%;
}

.education-plus-button,
.award-plus-button,
.project-plus-button,
.certificate-plus-button,
.skill-plus-button {
  margin-left: auto;
}

/* 모달 창 기본 스타일 */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
