.contents {
  padding: 100px 85px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

._h4 {
  margin-block-end: 0.1em;
  margin-block-start: 0.1em;
}

body {
  font-family: Arial, sans-serif;
}

.imageprofile-container {
  display: flex;
}

.profile-image {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.image-change-button {
  position: absolute;
  top: 360px;
  left: 210px;
}
.profile,
.education,
.award,
.project,
.certificate,
.skill {
  flex: 1 1 50%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.profilediv {
  border-left: 5px solid #ccc;
  padding-left: 10px;
  margin: 0 0 10px 50px;
  height: fit-content;
}

.education-list,
.award-list,
.project-list,
.certificate-list,
.skill-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.education-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.award-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.certificate-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skill-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
/* select 박스와 input 필드의 스타일 */
.education-list select,
.education-list input {
  flex-grow: 1; /* 필요에 따라 컨테이너 크기에 맞게 요소를 확장 */
  margin-right: 10px; /* 우측 마진 */
  margin-bottom: 10px;
}

.education-list input:last-child,
.education-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.award-list input:last-child,
.award-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.project-list input:last-child,
.project-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.certificate-list input:last-child,
.certificate-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.skill-list input:last-child,
.skill-list select:last-child {
  margin-right: 0; /* 마지막 요소의 우측 마진 제거 */
}

.education-entry {
  background-color: white;
}

.btnbox {
  border-color: gray;
}

.alert-text {
  color: red;
  font-weight: bold;
  display: none;
}

.privacy-modify {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: flex-end;
  margin-right: 15px;
}

.modal .modal_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /*팝업*/
  top: 50%;
  left: 50%;
  background-color: rgb(116, 0, 0);
  transform: translate(-50%, -50%);
  padding: 30px;
  color: #fff;
  /* background: #ffffff; */
  border-radius: 20px;
}

.InputBox {
  width: 250px;
}

/* 버튼 스타일 */
input,
select,
button {
  height: 40px; /* 모든 입력 필드와 버튼의 높이 */
  padding: 0 10px; /* 좌우 패딩 */
  box-sizing: border-box; /* border와 padding을 너비에 포함 */
  margin-right: 10px;
}

input {
  border: none;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
}

.profile-edit-button,
.change-password-btn,
.delete-account-btn {
  margin-right: 10px;
}

#education_delete_button,
#awards_delete_button,
#project_delete_button,
#certificate_delete_button {
  margin-right: 10px;
  background-color: #d67d86;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

#education-confirm-button,
#award-confirm-button,
#project-confirm-button,
#certificate-confirm-button,
#skill-confirm-button {
  margin-right: 10px;
  background-color: #6d78d4;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.education-title h2,
.award-title h2,
.project-title h2,
.certificate-title h2,
.skill-title h2 {
  display: flex;
  justify-content: space-between; /*내용을 양쪽 끝으로 밀어냄 */
  align-items: center;
  width: 100%;
}

.education-plus-button,
.award-plus-button,
.project-plus-button,
.certificate-plus-button,
.skill-plus-button {
  margin-left: auto;
}

.modal_btn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  /* background-color: royalblue; */
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.modal_btn:hover {
  box-shadow: 3px 4px 11px 0px #00000040;
}

#move_btn1,
#move_btn2 {
  display: none;
}

.editBtns {
  display: none;
  justify-content: start; /*버튼을 컨테이너 시작 부분에 정렬 */
  align-items: center;
}

.editBtns button {
  margin-right: 10px;
  margin-bottom: 10px; /* 오른쪽 여백 추가 */
}

/* 모달 창 기본 스타일 */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* 모달 내용 스타일 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.btn-red {
  vertical-align: center;
}
.btn-red:hover {
  background-color: rgb(255, 218, 218);
}
.btn-green {
  vertical-align: center;
}
.btn-green:hover {
  background-color: rgb(234, 255, 216);
}
.btn-yellow {
  vertical-align: center;
}
.btn-yellow:hover {
  background-color: rgb(250, 250, 189);
}
