<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Userpage</title>
    <link rel="stylesheet" href="./userpage.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/layout/header.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/layout/header.css" />
    <link rel="stylesheet" href="./userpage_new.css" />
    <link rel="icon" href="../img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo">
          <a href="/">
            <img class="logo-image" src="/img/logo.png" alt="logo" />
          </a>
        </div>
        <div class="menu">
          <div class="menu-items home" id="home">
            <a href="/">홈</a>
          </div>
          <div class="menu-items board" id="board">
            <a>게시판</a>
          </div>
          <div class="menu-items aboutUs" id="aboutUs">
            <a href="/aboutUs">About Us</a>
          </div>
        </div>
        <div class="user-status">
          <div
            class="user-status-item-left userpage"
            id="userpage"
            style="display: none"
          >
            <a>내 정보</a>
          </div>
          <div
            class="user-status-item logout"
            id="logout"
            style="display: none"
          >
            <a>로그아웃</a>
          </div>
          <div class="user-status-item login" id="login" style="display: none">
            <a>로그인</a>
          </div>
        </div>
      </div>
      <div class="contents">
        <div class="content-container" style="display: flex">
          <div class="profile">
            <div class="imageprofile-container">
              <!-- 프로필 정보 -->
              <img
                class="profile-image"
                id="porfile_image"
                alt="프로필 이미지"
              />
              <div class="profile-container">
                <div class="profilediv">
                  <div class="name-container">
                    <h3 class="Name"></h3>
                  </div>
                  <div class="nickname-container">
                    <h3 class="Nickname"></h3>
                  </div>
                  <div class="email-container">
                    <h4 class="Email"></h4>
                  </div>
                  <div class="description-container">
                    <p class="Description"></p>
                  </div>
                </div>
                <div class="edit-button-container">
                  <button
                    class="profile-edit-button editBtns btn2 btn-yellow"
                    onclick="editProfile()"
                  >
                    Edit
                  </button>
                </div>
              </div>
              <input
                type="file"
                class="profileImageInput editBtns btn2 btn-green"
                id="profileImageInput"
                accept=".jpg"
              />
              <button
                class="imageButton editBtns btn2 btn-green"
                onclick="uploadImageProfile()"
              >
                이미지 제출
              </button>
            </div>
            <div class="privacy-modify" id="privacy-modify-container">
              <button
                class="change-password-btn editBtns btn2 btn-red"
                onclick="passwordChange()"
              >
                비밀번호 변경
              </button>
              <div class="modal" id="password_change_modal" display="none">
                <div class="modal_popup">
                  <div>
                    <h2>비밀번호 변경</h2>
                  </div>
                  <div>
                    <p id="modaltext1"></p>
                    <p class="alert-text" id="alert-text">
                      새 비밀번호가 일치하지 않습니다.
                    </p>
                  </div>
                  <div class="modal-password-check" style="margin-bottom: 10px">
                    <span>이전 비밀번호</span>
                    <div class="btnbox">
                      <input
                        type="password"
                        id="existed-pw"
                        class="InputBox"
                        placeholder="이전 비밀번호를 입력해주세요"
                        oninput="modaltextclear()"
                      />
                    </div>
                  </div>
                  <div class="modal-password-check" style="margin-bottom: 10px">
                    <span>새 비밀번호</span>
                    <div class="btnbox">
                      <input
                        type="password"
                        id="change-setpw"
                        class="InputBox"
                        placeholder="새 비밀번호를 입력해주세요."
                      />
                    </div>
                  </div>
                  <div class="modal-password-check" style="margin-bottom: 10px">
                    <span>비밀번호 재확인</span>
                    <div class="btnbox">
                      <input
                        type="password"
                        id="change-setpwchk"
                        class="InputBox"
                        placeholder="새 비밀번호를 다시 입력해주세요."
                      />
                    </div>
                  </div>
                  <!-- <div
                  class="change-password-container"
                  style="display: none"
                ></div> -->
                  <div style="display: flex; justify-content: center">
                    <button
                      type="button"
                      class="modal_btn btn2 btn-green"
                      onclick="passwordChangeConfirm()"
                    >
                      확인
                    </button>
                    <button
                      type="button"
                      class="modal_btn btn2 btn-red"
                      onclick="modalClose()"
                    >
                      닫기
                    </button>
                    <button
                      type="button"
                      id="move_btn1"
                      class="modal_btn"
                      onclick="gotologin()"
                    >
                      이동
                    </button>
                  </div>
                </div>
              </div>

              <div class="delete-account">
                <div id="delete_account_container" class="btnbox">
                  <button
                    class="delete-account-btn editBtns btn2 btn-red"
                    onclick="accountDelete()"
                  >
                    회원 탈퇴
                  </button>
                  <div class="modal" id="delete_account_modal" display="none">
                    <div class="modal_popup">
                      <div>
                        <h2>회원탈퇴</h2>
                      </div>
                      <p id="modaltext2">정말 떠나는건가요...? ㅜ.ㅜ</p>
                      <input
                        type="password"
                        id="delete-account-pwchk"
                        class="InputBox"
                        placeholder="현재 비밀번호를 입력해주세요."
                        display="none"
                      />
                      <div style="display: flex; justify-content: center">
                        <button
                          type="button"
                          class="modal_btn btn2 btn-green"
                          onclick="accountDeleteConfirm()"
                        >
                          확인
                        </button>
                        <button
                          type="button"
                          class="modal_btn btn2 btn-red"
                          onclick="modalClose()"
                        >
                          닫기
                        </button>
                        <button
                          type="button"
                          id="move_btn2"
                          class="modal_btn"
                          onclick="gotologin()"
                        >
                          이동
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="education">
            <!-- 학력 정보 -->
            <div class="education">
              <div class="education-title">
                <h2>
                  최종 학력
                  <div class="editBtns">
                    <button
                      class="btn2 btn-green"
                      id="education-plus-button"
                      onclick="addEducation()"
                    >
                      + 추가
                    </button>
                  </div>
                </h2>
              </div>
              <div class="education-list" id="educationList"></div>
            </div>
            <!-- 수상 정보 -->
            <div class="award">
              <div class="award-title">
                <h2>
                  수상
                  <div class="editBtns">
                    <button
                      class="btn2 btn-green"
                      id="award-plus-button"
                      onclick="addAward()"
                    >
                      + 추가
                    </button>
                  </div>
                </h2>
              </div>
              <div class="award-list" id="awardList"></div>
            </div>
            <!-- 프로젝트 정보 -->
            <div class="project">
              <div class="project-title">
                <h2>
                  프로젝트
                  <div class="editBtns">
                    <button
                      class="btn2 btn-green"
                      id="project-plus-button"
                      onclick="addProject()"
                    >
                      + 추가
                    </button>
                  </div>
                </h2>
              </div>
              <div class="project-list" id="projectList"></div>
            </div>
            <!-- 자격증 정보 -->
            <div class="certificate">
              <div class="certificate-title">
                <h2>
                  자격증
                  <div class="editBtns">
                    <button
                      class="btn2 btn-green"
                      id="certificate-plus-button"
                      onclick="addCertificate()"
                    >
                      + 추가
                    </button>
                  </div>
                </h2>
              </div>
              <div class="certificate-list" id="certificateList"></div>
            </div>
            <!-- 스킬 정보 -->
            <div class="skill">
              <div class="skill-title">
                <h2>
                  스킬
                  <div class="editBtns">
                    <button
                      class="btn2 btn-green"
                      id="skill-plus-button"
                      onclick="addSkill()"
                    >
                      + 추가
                    </button>
                  </div>
                </h2>
              </div>
              <div class="skill-list" id="skillList"></div>
            </div>
            <!-- 모달 창 -->
            <div id="educationModal" class="modal">
              <div class="modal-content">
                <form id="educationForm">
                  <select id="schoolStatus">
                    <option value="">학위 선택</option>
                    <option value="재학중">
                      ((초,중,고 졸업), 대학 재학중)
                    </option>
                    <option value="학사졸업">대학(4년)</option>
                    <option value="석사졸업">대학원(석사)</option>
                    <option value="박사졸업">대학원(박사)</option>
                  </select>
                  <input type="text" id="university" placeholder="학교 이름" />
                  <input type="text" id="major" placeholder="전공 or 없음" />
                  <button
                    class="btn2 btn-green"
                    type="button"
                    id="education-confirm-button"
                    onclick="confirmEducation(event)"
                    style="display: none"
                  >
                    저장
                  </button>
                  <button
                    class="btn2 btn-yellow"
                    type="button"
                    id="education-edit-button"
                    onclick="submitEducationUpdate()"
                    style="display: none"
                  >
                    수정
                  </button>
                </form>
              </div>
            </div>
            <div id="awardModal" class="modal">
              <div class="modal-content">
                <form id="awardForm">
                  <input type="text" id="title" placeholder="수상 이름" />
                  <input type="date" id="acqDate" placeholder="입상 날짜" />
                  <input type="text" id="details" placeholder="상세 설명" />
                  <button
                    class="btn2 btn-green"
                    type="button"
                    id="award-confirm-button"
                    onclick="confirmAward(event)"
                    style="display: none"
                  >
                    저장
                  </button>
                  <button
                    class="btn2 btn-yellow"
                    type="button"
                    id="award-edit-button"
                    onclick="submitAwardUpdate()"
                    style="display: none"
                  >
                    수정
                  </button>
                </form>
              </div>
            </div>
            <div id="projectModal" class="modal">
              <div class="modal-content">
                <form id="projectForm">
                  <input
                    type="text"
                    id="projectTitle"
                    placeholder="프로젝트 이름"
                  />
                  <input type="date" id="startDate" placeholder="시작 날짜" />
                  <input type="date" id="endDate" placeholder="종료 날짜" />
                  <input
                    type="text"
                    id="projectDetails"
                    placeholder="상세 설명"
                  />
                  <button
                    class="btn2 btn-green"
                    type="button"
                    id="project-confirm-button"
                    onclick="confirmProject(event)"
                    style="display: none"
                  >
                    저장
                  </button>
                  <button
                    class="btn2 btn-yellow"
                    type="button"
                    id="project-edit-button"
                    onclick="submitProjectUpdate()"
                    style="display: none"
                  >
                    수정
                  </button>
                </form>
              </div>
            </div>
            <div id="certificateModal" class="modal">
              <div class="modal-content">
                <form id="certificateForm">
                  <input
                    type="text"
                    id="certificateTitle"
                    placeholder="자격증 이름"
                  />
                  <input type="date" id="acquireDate" placeholder="취득 날짜" />
                  <button
                    class="btn2 btn-green"
                    type="button"
                    id="certificate-confirm-button"
                    onclick="confirmCertificate(event)"
                    style="display: none"
                  >
                    저장
                  </button>
                  <button
                    class="btn2 btn-yellow"
                    type="button"
                    id="certificate-edit-button"
                    onclick="submitCertificateUpdate()"
                    style="display: none"
                  >
                    수정
                  </button>
                </form>
              </div>
            </div>
            <div id="skillModal" class="modal">
              <div class="modal-content">
                <form id="skillForm">
                  <input type="text" id="skillTitle" placeholder="스킬" />
                  <button
                    class="btn2 btn-green"
                    type="button"
                    id="skill-confirm-button"
                    onclick="confirmSkill(event)"
                    style="display: none"
                  >
                    저장
                  </button>
                  <button
                    class="btn2 btn-yellow"
                    type="button"
                    id="skill-edit-button"
                    onclick="submitSkillUpdate()"
                    style="display: none"
                  >
                    수정
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/layout/header.js"></script>
    <script src="./userpage.js"></script>
  </body>
</html>
