.menu-items,
.user-status-item,
.user-status-item-left {
  cursor: pointer;
}

.post-islike {
  font-size: 24px;
  color: red;
}

textarea {
  border-color: black;
  resize: none;
}
.input-box {
  border-radius: 5px;
  border-color: black;
}

.align-left {
  float: left;
  padding: 5px;
}
.align-left-title {
  float: left;
  padding: 10px;
}
.align-right {
  float: right;
  padding: 10px;
}

.btn-red:hover {
  background-color: rgb(253, 206, 206);
}
.btn-green:hover {
  background-color: rgb(208, 253, 208);
}
.btn-yellow:hover {
  background-color: rgb(252, 253, 202);
}

.contents {
  padding: 20px 20px;
}

.search-box {
  font-size: 15px;
}

.container {
  width: 80%;
  margin: auto;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.board-table-container {
  width: 100%;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.board-table th,
.board-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.write-post-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

h3 {
  font-size: 25px;
}

.write-post-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red {
  background-color: #ed867e;
  color: white;
}

.btn-green {
  background-color: #7fc881;
  color: white;
}

.label-container {
  width: 100%;
  margin-bottom: 10px;
}

.label-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

/* 게시물 목록 레이아웃 */
.board-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* 테이블의 레이아웃을 고정시킴 */
}

.board-table th,
.board-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.board-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.board-table th:nth-child(1) {
  width: 50%; /* 제목 열 너비 */
}

.board-table th:nth-child(2) {
  width: 25%; /* 작성자 열 너비 */
}

.board-table th:nth-child(3) {
  width: 25%; /* 작성일자 열 너비 */
}

.board-table tr:hover {
  background-color: #eef;
}

/* 게시글 작성 레이아웃 */
.post-container {
  width: 80%; /* 컨테이너 너비 조정 */
  margin: 20px auto; /* 중앙 정렬 */
  padding: 20px;
  border: 1px solid #ccc; /* 테두리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  background-color: #f5e4e4;
}

.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-title {
  font-size: 24px; /* 제목 폰트 크기 */
  font-weight: bold;
}

.post-info {
  text-align: right;
}

.post-info div {
  display: block;
}

.post-contents {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.post-view-wrap {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 150px;
  /* justify-content: flex-end; */
}

.btn-group {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: flex-end; /* 버튼들을 오른쪽 정렬 */
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 5px;
}

.post-bottomwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-comment-wrap {
  margin-bottom: 40px;
  font-size: 12px;
}

.post-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.post-comment-contents {
  width: 100%;
}

.post-comment-btn {
  margin-top: 10px; /* 버튼과 텍스트 영역 사이의 간격 */
}

.post-comment-container {
  margin-right: 10px; /* 댓글 간의 오른쪽 여백 */
}

.post-comments {
  display: flex; /* Flexbox 사용 */
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 10px; /* 댓글 사이의 간격 */
  margin-top: 10px; /* 댓글 컨테이너 상단 여백 */
}

.comment-container {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px; /* 모서리 둥글게 */
}

.comment-container {
  display: flex; /* Flexbox를 활성화 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 요소 사이에 공간을 균등하게 배분 */
  width: 100%; /* 컨테이너 너비 최대로 설정 */
  background-color: #f9f9f9; /* 배경색 설정 */
  border-bottom: 1px solid #e1e1e1; /* 아래쪽 테두리 설정 */
}

.comment-writer,
.comment-createdAt,
.comment-box {
  flex: 1; /* 각 요소가 가능한 같은 너비를 가지도록 설정 */
  padding: 0 10px; /* 좌우 패딩 */
}

.comment-delete-btn {
  white-space: nowrap; /* 버튼 텍스트가 줄바뀌지 않도록 설정 */
  cursor: pointer; /* 포인터 모양을 손가락 모양으로 변경 */
  font-size: 12px;
}

.post-list-bottomwrap {
  display: flex;
  justify-content: space-between; /* 좌우 버튼을 양 끝으로 정렬 */
  width: 100%; /* 컨테이너의 폭을 화면에 맞춤 */
}

.post-list-bottomwrap button {
  padding: 8px 13px; /* 버튼의 패딩 */
  cursor: pointer; /* 마우스 커서를 포인터로 설정 */
}

.post-list-container {
  width: 100%; /* 컨테이너 너비 최대로 설정 */
  border-bottom: 1px solid #e1e1e1; /* 아래쪽 테두리 설정 */
}

.board-like-img {
  width: 20px;
}
