<!DOCTYPE html>
<html lang="ko"></html>
<head>
  <meta charset="UTF-8" />
  <title>AboutUs</title>

  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/layout/header.css" />
</head>
<body>
  <div class="header">
    <div class="logo">
      <a href="/">
        <img class="logo-image" src="/img/logo.png" alt="logo" />
      </a>
    </div>
    <div class="menu">
      <div class="menu-items home" id="home">
        <a href="/">홈</a>
      </div>
      <div class="menu-items board" id="board">
        <a>게시판</a>
      </div>
      <div class="menu-items aboutUs" id="aboutUs">
        <a href="/aboutUs">About Us</a>
      </div>
    </div>
    <div class="user-status">
      <div
        class="user-status-item-left userpage"
        id="userpage"
        style="display: none"
      >
        <a>내 정보</a>
      </div>
      <div class="user-status-item logout" id="logout" style="display: none">
        <a>로그아웃</a>
      </div>
      <div class="user-status-item login" id="login" style="display: none">
        <a>로그인</a>
      </div>
    </div>
  </div>
  <script src="header.js"></script>
  <script src="/aboutus/aboutus.js"></script>
</body>
